Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: rust-linting
        name: rust linting
        entry: cargo fmt --all --
        types: [file, rust]
        language: system
      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        pass_filenames: false
        types: [python]
        language: system
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        pass_filenames: false
        types: [python]
        language: system

fix(watch): dedup batches by content sig to eliminate double restarts
  crates/tryke/src/watch.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
Due: rust-linting, clippy

perf(watch): drop debounce window from 200ms to 100ms
  crates/tryke_server/src/watcher.rs
  docs/concepts/client-server.md
  docs/guides/watch-mode.md
Due: rust-linting, clippy

perf(watch): drop debounce window from 100ms to 50ms
  crates/tryke_server/src/watcher.rs
  docs/concepts/client-server.md
  docs/guides/watch-mode.md
Due: rust-linting, clippy

fix(watch): report first-event deletion in ChangeFilter
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

docs(watcher): document FileSig coarse-mtime limitation
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

Replace importlib.reload with worker subprocess restart (#68)
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.24
  Cargo.lock
  Cargo.toml
Due: none

feat(reporter): add `next` and `sugar` reporters
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/tests/snapshots.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_next_two_pass_one_fail_two_files.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_sugar_two_files_mixed.snap
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/live.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/sugar.rs
  docs/guides/reporters.md
  docs/reference/cli.md
Due: rust-linting, clippy

feat(watch): show 'Waiting for file changes...' + q-to-quit
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

quiet warning
  pyproject.toml
  uv.lock
Due: none

fix(reporter): rebuild next/sugar live area on indicatif
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/tests/snapshots/snapshots__snapshot_next_two_pass_one_fail_two_files.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_sugar_two_files_mixed.snap
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/live.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
Due: rust-linting, clippy

fix(reporter,watch): address PR review feedback
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/sugar.rs
  docs/guides/reporters.md
Due: rust-linting, clippy

feat(reporter/next): adapt to terminal width + colorize left column
  crates/tryke_reporter/src/next.rs
Due: rust-linting, clippy

refactor(reporter/next): drop column alignment, white full-width bar
  crates/tryke_reporter/src/next.rs
Due: rust-linting, clippy

feat(reporter): wide bar, white default, red on failure, tighter sugar marks
  crates/tryke/tests/snapshots/snapshots__snapshot_sugar_two_files_mixed.snap
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
Due: rust-linting, clippy

add --no-progress flag to disable terminal native progress bar
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  docs/reference/cli.md
Due: rust-linting, clippy

fix(reporter): address remaining PR review feedback
  crates/tryke_reporter/src/live.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/sugar.rs
  docs/guides/reporters.md
Due: rust-linting, clippy

feat(reporter): add `next` and `sugar` reporters (#71)
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke/tests/snapshots.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_next_two_pass_one_fail_two_files.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_sugar_two_files_mixed.snap
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/live.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/reporters.md
  docs/reference/cli.md
Due: rust-linting, clippy

add --no-progress flag to disable terminal native progress bar (#72)
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  docs/reference/cli.md
Due: rust-linting, clippy

0.0.25
  Cargo.lock
  Cargo.toml
Due: none

fold `tryke watch` into `tryke test --watch`
  README.md
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_server/src/watcher.rs
  demo/demo.tape
  docs/concepts/concurrency.md
  docs/guides/reporters.md
  docs/guides/watch-mode.md
  docs/index.md
  docs/reference/cli.md
  docs/why.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

install cargo-nextest in SessionStart hook
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

Update session-start.sh
  .claude/hooks/session-start.sh
Due: none

fold `tryke watch` into `tryke test --watch` (#73)
  .claude/hooks/session-start.sh
  .claude/settings.json
  README.md
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_server/src/watcher.rs
  demo/demo.tape
  docs/concepts/concurrency.md
  docs/guides/reporters.md
  docs/guides/watch-mode.md
  docs/index.md
  docs/reference/cli.md
  docs/why.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

enrich CLI help and rewrite generated docs as structured markdown
  crates/tryke/src/cli.rs
  crates/tryke/src/cli_docs.rs
  crates/tryke/tests/cli_docs.rs
  docs/reference/cli.md
Due: rust-linting, clippy

enrich CLI help and rewrite generated docs as structured markdown (#79)
  crates/tryke/src/cli.rs
  crates/tryke/src/cli_docs.rs
  crates/tryke/tests/cli_docs.rs
  docs/reference/cli.md
Due: rust-linting, clippy

docs: use display labels in example and color the output block
  README.md
  docs/index.md
Due: none

bump ruff workspace tag to 0.15.12
  Cargo.lock
  Cargo.toml
Due: none

polish
  .pre-commit-config.yaml
  demo/sample.py
  docs/guides/reporters.md
  docs/index.md
  docs/stylesheets/ansi.css
  pyproject.toml
  scripts/generate_reporter_examples.py
  uv.lock
  zensical.toml
Due: ruff-check, ruff-format

Update documentation examples with labeled expectations (#87)
  .pre-commit-config.yaml
  README.md
  demo/sample.py
  docs/guides/reporters.md
  docs/index.md
  docs/stylesheets/ansi.css
  pyproject.toml
  scripts/generate_reporter_examples.py
  uv.lock
  zensical.toml
Due: ruff-check, ruff-format

chore(deps): batch dependabot upgrades (#88)
  .github/workflows/docs.yml
  .github/workflows/labels.yml
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
Due: none

fix(docs): render README sample as plain text
  .pre-commit-config.yaml
  README.md
  scripts/generate_reporter_examples.py
Due: ruff-check, ruff-format

feat(cases): allow @test("label").cases(...) composition
  crates/tryke_discovery/src/lib.rs
  python/tryke/expect.py
  tests/test_cases.py
  tests/typed/test_cases_typing.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat(cases): allow @test("label").cases(...) composition (#90)
  crates/tryke_discovery/src/lib.rs
  python/tryke/expect.py
  tests/test_cases.py
  tests/typed/test_cases_typing.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix(logging): honor RUST_LOG so the VS Code server output isn't empty
  crates/tryke/src/main.rs
Due: rust-linting, clippy

refactor(runner): stop policing Python version, expose python config
  Cargo.lock
  README.md
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/guides/reporters.md
  docs/index.md
  docs/reference/cli.md
  pyproject.toml
Due: rust-linting, clippy

fix(config): resolve relative `python` paths against pyproject.toml dir
  README.md
  crates/tryke_config/src/lib.rs
  docs/guides/reporters.md
  docs/index.md
  scripts/generate_reporter_examples.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix(ci): unpin project python config, make test helpers OS-aware
  AGENTS.md
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  pyproject.toml
Due: rust-linting, clippy

fix(ci): keep `python3` as Windows fallback in test helpers
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy
