Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

Playground polish: theme, layout, Annotated form, rename hooks
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/SourceEditor.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
Due: none

Add playground link to README and docs getting started
  README.md
Due: none

Add Cloudflare Pages deployment workflow for playground
  .github/workflows/playground.yml
Due: none

Use playground environment for Cloudflare secrets
  .github/workflows/playground.yml
Due: none

Extract shared runner, eliminate wire format conversion, add loading spinner
  crates/tryke_runner/src/protocol.rs
  crates/tryke_types/src/lib.rs
  crates/tryke_wasm/src/lib.rs
  playground/examples/helpers.py
  playground/examples/mathlib.py
  playground/examples/test_basics.py
  playground/examples/test_cases.py
  playground/examples/test_describe.py
  playground/examples/test_fixtures.py
  playground/examples/test_helpers.py
  playground/examples/test_kitchen_sink.py
  playground/examples/test_markers.py
  playground/examples/test_math.py
  playground/examples/test_soft.py
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
  pyproject.toml
  python/tryke/playground.py
  python/tryke/runner.py
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Exclude playground examples from test discovery
  pyproject.toml
Due: none

Address PR feedback on playground execution and build setup
  playground/package.json
  playground/src/Editor/Chrome.tsx
  python/tryke/playground.py
  python/tryke/runner.py
  tests/test_playground.py
Due: ruff-check, ruff-format

wrangler gitignore
  .gitignore
Due: none

Fix Pyodide CDN import in production builds
  playground/src/workers/pyodide.worker.ts
Due: none

Simplify playground deploy docs with --branch main shortcut
  CONTRIBUTING.md
Due: none

Fix KeyError when hook groups is omitted from JSON
  python/tryke/playground.py
Due: ruff-check, ruff-format

Address playground PR review feedback
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/workers/pyodide.worker.ts
  python/tryke/playground.py
Due: rust-linting, clippy, ruff-check, ruff-format

Block tryke.py in filename validation; fix nested button in tabs
  playground/src/Editor/Chrome.tsx
  python/tryke/playground.py
Due: ruff-check, ruff-format

Document how to promote a playground preview to production
  CONTRIBUTING.md
Due: none

Address second round of playground review feedback
  .github/workflows/playground.yml
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/workers/pyodide.worker.ts
  python/tryke/playground.py
Due: rust-linting, clippy, ruff-check, ruff-format

Simplify kitchen sink example
  playground/examples/test_kitchen_sink.py
Due: ruff-check, ruff-format

Share core test execution logic between native and WASM paths
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  crates/tryke_wasm/src/lib.rs
  python/tryke/playground.py
  python/tryke/runner.py
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Normalize wrangler cache files
  .wrangler/cache/pages.json
  .wrangler/cache/wrangler-account.json
Due: none

Fix playground stale run state
  .wrangler/cache/pages.json
  .wrangler/cache/wrangler-account.json
  playground/src/Editor/Chrome.tsx
Due: none

Skip rediscovery for unchanged AST
  README.md
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  docs/index.md
Due: rust-linting, clippy

Skip rediscovery for unchanged AST (#130)
  README.md
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  docs/index.md
Due: rust-linting, clippy

Simplify playground execution path
  crates/tryke_runner/src/pool.rs
  playground/src/Editor/constants.ts
  python/tryke/playground.py
  python/tryke/runner.py
  python/tryke/worker.py
  tests/test_playground.py
Due: rust-linting, clippy, ruff-check, ruff-format

reporters
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/live.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/types.ts
Due: rust-linting, clippy

Clear stale parent-package attribute when purging removed submodules
  python/tryke/playground.py
  tests/test_playground.py
Due: ruff-check, ruff-format

Harden playground harness, tests, and frontend per review
  README.md
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/constants.ts
  pyproject.toml
  python/tryke/playground.py
  tests/test_playground.py
Due: ruff-check, ruff-format

Document release helper workflow
  CONTRIBUTING.md
Due: none

Isolate playground runs in fresh Pyodide workers
  playground/src/Editor/Chrome.tsx
  playground/src/workers/pyodide.worker.ts
  python/tryke/playground.py
  tests/test_playground.py
Due: ruff-check, ruff-format

Update agent development instructions
  AGENTS.md
Due: none

cleanup
  .github/workflows/playground.yml
  README.md
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  crates/tryke_wasm/src/lib.rs
  playground/bun.lock
  playground/package.json
  python/tryke/playground.py
  python/tryke/runner.py
Due: rust-linting, clippy, ruff-check, ruff-format

Refactor native features into capability modules
  crates/tryke/Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/filesystem/cache.rs
  crates/tryke_discovery/src/filesystem/db.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/import_graph.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_discovery/src/source.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/clear/fallback.rs
  crates/tryke_reporter/src/clear/mod.rs
  crates/tryke_reporter/src/clear/terminal.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/live/fallback.rs
  crates/tryke_reporter/src/live/mod.rs
  crates/tryke_reporter/src/live/terminal.rs
  crates/tryke_server/Cargo.toml
Due: rust-linting, clippy

Remove assertion span parser fallback
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

Address Copilot playground review comments
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/GraphView.tsx
Due: rust-linting, clippy

Simplify playground test runs
  .github/workflows/ci.yml
  playground/src/Editor/Chrome.tsx
  playground/src/workers/pyodide.worker.ts
Due: none

changed the scheduler to use on_discovery_warning
  crates/tryke/src/execution.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

Remove flaky watcher ignore test
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

Auto-run tests on playground load
  .pre-commit-config.yaml
  playground/eslint.config.cjs
  playground/eslint.config.js
  playground/src/Editor/Chrome.tsx
Due: none

Auto-run tests on playground load (#138)
  .pre-commit-config.yaml
  playground/eslint.config.cjs
  playground/eslint.config.js
  playground/src/Editor/Chrome.tsx
Due: none

refactor
  crates/tryke/src/execution.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
