Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

Centralize warning reporting (#139)
  crates/tryke/src/execution.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

some cleanup
  AGENTS.md
  Cargo.lock
  crates/tryke_runner/src/worker.rs
  uv.lock
Due: rust-linting, clippy

Add dep and flag
  crates/tryke_runner/src/worker.rs
  pyproject.toml
  uv.lock
Due: rust-linting, clippy

Replace server TCP transport with stdio JSON-RPC
  Cargo.lock
  Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke/tests/server_stdio.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  docs/concepts/client-server.md
  docs/guides/editor-integration.md
  docs/guides/running-tests.md
  docs/reference/cli.md
  docs/why.md
  uv.lock
Due: rust-linting, clippy

Give ping_pong test a CI-tolerant timeout
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

Refactoring
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_discovery/src/source.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

more refactoring
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/discovery.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  crates/tryke_watcher/Cargo.toml
  crates/tryke_watcher/src/lib.rs
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/guides/watch-mode.md
  docs/reference/cli.md
Due: rust-linting, clippy

Prevent worker restart hangs
  CHANGELOG.md
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke_runner/src/pool.rs
  docs/concepts/concurrency.md
  docs/reference/cli.md
Due: rust-linting, clippy

more refactoring
  crates/tryke_server/src/server.rs
  crates/tryke_watcher/src/lib.rs
Due: rust-linting, clippy

warm
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
Due: rust-linting, clippy

Fix discover hang on missing params; clarify stdio framing docs
  crates/tryke/src/cli.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  docs/concepts/client-server.md
  docs/reference/cli.md
Due: rust-linting, clippy

Potential fix for pull request finding
  crates/tryke/src/main.rs
Due: rust-linting, clippy

Potential fix for pull request finding
  crates/tryke/src/watch.rs
Due: rust-linting, clippy

Fix nested project discovery and worker prewarming
  crates/tryke/src/discovery.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

Surface worker control timeouts at warn; fix stale comment
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

Increase nextest leak timeout
  .config/nextest.toml
Due: none

fixes
  CHANGELOG.md
  crates/tryke/src/cli.rs
  crates/tryke_runner/src/pool.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

more refactoring
  CHANGELOG.md
  crates/tryke/src/cli.rs
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/filesystem/cache.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_testing/src/lib.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

Replace server TCP transport with stdio JSON-RPC (#148)
  .config/nextest.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke/tests/server_stdio.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/filesystem/cache.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_discovery/src/source.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  crates/tryke_testing/src/lib.rs
  crates/tryke_watcher/Cargo.toml
  crates/tryke_watcher/src/lib.rs
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/guides/configuration.md
  docs/guides/editor-integration.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
  docs/reference/cli.md
  docs/why.md
  uv.lock
Due: rust-linting, clippy

docs: update changelog for v0.0.30
  CHANGELOG.md
Due: none

chore: bump: version 0.0.29 → 0.0.30
  Cargo.toml
  pyproject.toml
Due: none

chore: bump: version 0.0.29 → 0.0.30
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Remove branded icon and embedded video
  README.md
  docs/assets/logo.png
  docs/index.md
  docs/overrides/main.html
  playground/index.html
  playground/public/logo.png
  playground/src/Editor/Chrome.tsx
  zensical.toml
Due: none

Homepage
  .markdownlint-cli2.yaml
  docs/index.md
  docs/overrides/home.html
  docs/stylesheets/extra.css
Due: none

README and docs updates (#149)
  .markdownlint-cli2.yaml
  README.md
  docs/assets/logo.png
  docs/index.md
  docs/overrides/home.html
  docs/overrides/main.html
  docs/stylesheets/extra.css
  playground/index.html
  playground/public/logo.png
  playground/src/Editor/Chrome.tsx
  zensical.toml
Due: none

chore: consolidate dependency updates
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/labels.yml
  .github/workflows/playground.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none

chore: consolidate dependency updates (#150)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/labels.yml
  .github/workflows/playground.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none

readme
  README.md
Due: none

Refactor RPC method definition
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/protocol.rs
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Refactor RPC method definition (#151)
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/protocol.rs
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Implement snapshot testing support
  Cargo.lock
  Cargo.toml
  crates/tryke_snapshot/Cargo.toml
  crates/tryke_snapshot/src/lib.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

Implement snapshot testing support
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke_snapshot/Cargo.toml
  crates/tryke_snapshot/src/lib.rs
  crates/tryke_types/src/lib.rs
  docs/reference/cli.md
  python/tryke/expect.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

Handle Ctrl+C reporter cleanup
  crates/tryke/Cargo.toml
  crates/tryke/src/commands/test.rs
  crates/tryke/src/lib.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
Due: rust-linting, clippy

Pin repository text files to LF
  .gitattributes
  crates/tryke/src/commands/test.rs
Due: rust-linting, clippy

Fix CLI invocation error handling
  crates/tryke/src/cli.rs
  crates/tryke/src/commands/graph.rs
  crates/tryke/src/commands/test.rs
  crates/tryke/src/main.rs
  crates/tryke/tests/cli_errors.rs
Due: rust-linting, clippy

Simplify CLI entry point
  crates/tryke/src/lib.rs
  crates/tryke/src/main.rs
Due: rust-linting, clippy

Make CLI error test ANSI-safe
  crates/tryke/tests/cli_errors.rs
Due: rust-linting, clippy

Refactor workers
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/commands/server.rs
  crates/tryke/src/commands/test.rs
  crates/tryke/src/lib.rs
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/filesystem/cache.rs
  crates/tryke_discovery/src/filesystem/db.rs
  crates/tryke_discovery/src/filesystem/discoverer.rs
  crates/tryke_discovery/src/filesystem/import_graph.rs
  crates/tryke_discovery/src/filesystem/mod.rs
  crates/tryke_discovery/src/selection.rs
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_runner/src/worker_process.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/server.rs
  crates/tryke_watcher/src/lib.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Centralize logging configuration
  AGENTS.md
  CHANGELOG.md
  Cargo.lock
  crates/tryke/src/commands/clean.rs
  crates/tryke/src/commands/server.rs
  crates/tryke/src/commands/test.rs
  crates/tryke/src/lib.rs
  crates/tryke/src/logging.rs
  crates/tryke_config/Cargo.toml
  crates/tryke_config/src/lib.rs
  crates/tryke_runner/src/worker_process.rs
  docs/guides/configuration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
