Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

Extract shared runner, eliminate wire format conversion, add loading spinner
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  crates/tryke_wasm/src/lib.rs
  playground/examples/helpers.py
  playground/examples/mathlib.py
  playground/examples/test_basics.py
  playground/examples/test_cases.py
  playground/examples/test_describe.py
  playground/examples/test_fixtures.py
  playground/examples/test_helpers.py
  playground/examples/test_kitchen_sink.py
  playground/examples/test_markers.py
  playground/examples/test_math.py
  playground/examples/test_soft.py
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
  pyproject.toml
  python/tryke/playground.py
  python/tryke/runner.py
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Exclude playground examples from test discovery
  pyproject.toml
Due: none

Address PR feedback on playground execution and build setup
  playground/package.json
  playground/src/Editor/Chrome.tsx
  python/tryke/playground.py
  python/tryke/runner.py
  tests/test_playground.py
Due: ruff-check, ruff-format

Add Cloudflare Pages deployment workflow for playground
  .github/workflows/playground.yml
Due: none

Use playground environment for Cloudflare secrets
  .github/workflows/playground.yml
Due: none

wrangler gitignore
  .gitignore
Due: none

Add playground section to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix Pyodide CDN import in production builds
  playground/src/workers/pyodide.worker.ts
Due: none

Document how to promote a playground preview to production
  CONTRIBUTING.md
Due: none

Simplify playground deploy docs with --branch main shortcut
  CONTRIBUTING.md
Due: none

Address playground PR review feedback
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/workers/pyodide.worker.ts
  python/tryke/playground.py
Due: rust-linting, clippy, ruff-check, ruff-format

Simplify kitchen sink example
  playground/examples/test_kitchen_sink.py
Due: ruff-check, ruff-format

Fix KeyError when hook groups is omitted from JSON
  python/tryke/playground.py
Due: ruff-check, ruff-format

Address second round of playground review feedback
  .github/workflows/playground.yml
  crates/tryke_wasm/src/lib.rs
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/workers/pyodide.worker.ts
  python/tryke/playground.py
Due: rust-linting, clippy, ruff-check, ruff-format

Block tryke.py in filename validation; fix nested button in tabs
  playground/src/Editor/Chrome.tsx
  python/tryke/playground.py
Due: ruff-check, ruff-format

refactor(release): address PR #110 review feedback
  .github/workflows/release.yml
  AGENTS.md
  cliff.toml
  justfile
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: none

docs: mention uvx quickstart and playground in README and getting-started
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

tweaks
  README.md
  docs/index.md
Due: none

docs: mention uvx quickstart and playground in README and getting-started (#127)
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

feat: add configurable discovery cache directory
  crates/tryke/src/cli.rs
  crates/tryke/src/discovery.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_server/src/server.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

remove some redundant methods
  .gitignore
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

gitignore
  crates/tryke_discovery/src/cache.rs
Due: rust-linting, clippy

refactor
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/discoverer.rs
Due: rust-linting, clippy

Add configurable discovery cache directory (#128)
  .gitignore
  crates/tryke/src/cli.rs
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_server/src/server.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

feat: add clean cache command
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/lib.rs
  docs/reference/cli.md
Due: rust-linting, clippy

feat: add clean cache command (#129)
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/lib.rs
  docs/reference/cli.md
Due: rust-linting, clippy

some fixes
  .markdownlint-cli2.yaml
  CHANGELOG.md
  cliff.toml
  pyproject.toml
  scripts/release.sh
Due: none

more fixes
  CHANGELOG.md
  cliff.toml
Due: none

cleanup
  CHANGELOG.md
  cliff.toml
Due: none

address copilot comment
  .github/workflows/release.yml
Due: none

Add automated CHANGELOG.md generation and release workflow (#110)
  .github/workflows/release.yml
  .markdownlint-cli2.yaml
  CHANGELOG.md
  cliff.toml
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: none

Add interactive playground with WASM discovery and Pyodide test execution
  .claude/launch.json
  .gitignore
  .wrangler/cache/pages.json
  .wrangler/cache/wrangler-account.json
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/clear.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_types/src/lib.rs
  crates/tryke_wasm/Cargo.toml
  crates/tryke_wasm/src/lib.rs
  playground/bun.lock
  playground/index.html
  playground/package.json
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/GraphView.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/SourceEditor.tsx
  playground/src/Editor/TerminalOutput.tsx
  playground/src/Editor/constants.ts
  playground/src/Editor/index.tsx
  playground/src/Editor/types.ts
  playground/src/main.tsx
  playground/src/styles/global.css
  playground/src/vite-env.d.ts
  playground/src/workers/pyodide.worker.ts
  playground/tsconfig.json
  playground/vite.config.ts
Due: rust-linting, clippy

Stop switching tabs on run, fix test.cases examples, add Kitchen Sink
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
Due: none

Add ESLint, Prettier, and pre-commit hooks for playground
  .pre-commit-config.yaml
  playground/.prettierignore
  playground/.prettierrc
  playground/bun.lock
  playground/eslint.config.js
  playground/package.json
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/GraphView.tsx
  playground/src/main.tsx
  playground/src/workers/pyodide.worker.ts
Due: none

Default to stacked view with responsive layout and tab tooltips
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
Due: none

Improve playground UX: tree view, fixture graph, auto-run, labels
  playground/.gitignore
  playground/index.html
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/FixtureGraphView.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/TerminalOutput.tsx
  playground/src/Editor/constants.ts
  playground/src/Editor/types.ts
Due: none

Default to Kitchen Sink example, remove comments
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
Due: none

Add stacked panel view to show all tabs at once
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/types.ts
Due: none

Add tooltips to playground UI elements
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
Due: none

Add playground polish: examples, shortcuts, multi-file support, fixtures
  crates/tryke_wasm/src/lib.rs
  playground/index.html
  playground/public/logo.png
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
