Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

ci(test): switch test job to setup-uv + uv run
  .github/workflows/ci.yml
Due: none

ci(test): run nextest under uv run so venv is on PATH
  .github/workflows/ci.yml
Due: none

feat(exit): distinguish test failures (1) from infra errors (2)
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  scripts/generate_reporter_examples.py
Due: rust-linting, clippy, ruff-check, ruff-format

refactor: drop exit-code-2 distinction; script fails on any non-zero
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  scripts/generate_reporter_examples.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs(python): align fallbacks/help with OS-aware default
  AGENTS.md
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/reference/cli.md
  scripts/generate_reporter_examples.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix(config): treat rooted-but-unprefixed paths as absolute on Windows
  crates/tryke_config/src/lib.rs
Due: rust-linting, clippy

fix(config): preserve Windows drive-relative `python` values
  crates/tryke_config/src/lib.rs
Due: rust-linting, clippy

fix(test): use TOML literal string for drive-relative python fixture
  crates/tryke_config/src/lib.rs
Due: rust-linting, clippy

Remove interpreter version check from `tryke_runner` (#92)
  .github/workflows/ci.yml
  AGENTS.md
  Cargo.lock
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/reference/cli.md
  scripts/generate_reporter_examples.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.26
  Cargo.lock
  Cargo.toml
Due: none

refactor(tests): extract test_python_bin into tryke_test_support
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_test_support/Cargo.toml
  crates/tryke_test_support/src/lib.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

fix(test_support,docs): keep helper aligned with prod, expand AGENTS prose
  AGENTS.md
  Cargo.lock
  crates/tryke_test_support/Cargo.toml
  crates/tryke_test_support/src/lib.rs
Due: rust-linting, clippy

rename: tryke_test_support → tryke_testing
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_testing/Cargo.toml
  crates/tryke_testing/src/lib.rs
Due: rust-linting, clippy

refactor(tests): extract test_python_bin into tryke_test_support (#93)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_testing/Cargo.toml
  crates/tryke_testing/src/lib.rs
  docs/guides/configuration.md
  docs/reference/cli.md
Due: rust-linting, clippy

feat(verbosity): unify rust + python worker logging via TRYKE_LOG
  AGENTS.md
  CONTRIBUTING.md
  Cargo.lock
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/Cargo.toml
  crates/tryke_config/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/guides/configuration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix(verbosity): address PR feedback on TRYKE_LOG redesign
  crates/tryke/src/main.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

refactor(verbosity): drop TRYKE_WORKER_LOG legacy alias
  crates/tryke/src/main.rs
  docs/guides/configuration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat(verbosity): unify rust + python worker logging via TRYKE_LOG (#94)
  AGENTS.md
  CONTRIBUTING.md
  Cargo.lock
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_config/Cargo.toml
  crates/tryke_config/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/guides/configuration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

test(runner): de-flake worker_continues_after_large_stderr_write
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

test(runner): de-flake worker_continues_after_large_stderr_write (#95)
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

0.0.27
  Cargo.lock
  Cargo.toml
Due: none

editor configs
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
Due: none

fix
  .vscode/settings.json
  uv.lock
Due: none

[coverage] initialize _in_scope and record hits in _line_callback
  python/tryke/coverage.py
Due: ruff-check, ruff-format

[coverage] initial implementation
  python/tryke/coverage.py
  python/tryke/worker.py
  tests/test_coverage.py
Due: ruff-check, ruff-format

[coverage] remove unused _in_scope field
  python/tryke/coverage.py
Due: ruff-check, ruff-format

[coverage] remove code-narrating comment and docstring from run()
  python/tryke/worker.py
Due: ruff-check, ruff-format

Potential fix for code scanning alert no. 10: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 10: Workflow does not contain permissions (#100)
  .github/workflows/ci.yml
Due: none

Potential fix for pull request finding
  .github/workflows/ci.yml
Due: none

fix(docs): pin pygments<2.20 to unbreak zensical build
  pyproject.toml
  uv.lock
Due: none

Potential fix for code scanning alert no. 9: Workflow does not contain permissions (#101)
  .github/workflows/ci.yml
Due: none

feat(watch): add --now flag to opt into initial test run
  README.md
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  docs/guides/reporters.md
  docs/guides/watch-mode.md
  docs/index.md
  docs/reference/cli.md
Due: rust-linting, clippy

review: defer clear, emit idle hint, add gating tests
  crates/tryke/src/cli.rs
  crates/tryke/src/watch.rs
  docs/reference/cli.md
Due: rust-linting, clippy

feat(watch): defer screen clear until first reporter output
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/watch.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/clear.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

review: fix disc_dur, idle hint, warning preservation, --now docs
  crates/tryke/src/cli.rs
  crates/tryke/src/watch.rs
  docs/reference/cli.md
Due: rust-linting, clippy

feat(watch): collapse save→result gap and dress up idle frame
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

review: preserve discovery warnings in idle path, clarify docs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/watch-mode.md
Due: rust-linting, clippy

feat(watch): keybindings line + Enter triggers a full run
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/summary.rs
  docs/guides/watch-mode.md
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
