Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

bump
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  pyproject.toml
  rustfmt.toml
Due: rust-linting, clippy

release
  .github/workflows/release.yml
  CLAUDE.md
  rustfmt.toml
  uv.lock
Due: none

version
  Cargo.lock
  crates/tryke/Cargo.toml
  pyproject.toml
Due: none

simplify release: use manylinux for linux builds
  .github/workflows/release.yml
  uv.lock
Due: none

typed
  python/tryke/__init__.py
  python/tryke/py.typed
  uv.lock
Due: ruff-check, ruff-format

misc
  pyproject.toml
  python/tryke/__init__.py
Due: ruff-check, ruff-format

skip docs
  pyproject.toml
  python/tryke/__init__.py
Due: ruff-check, ruff-format

stuff
  .github/dependabot.yml
  LICENSE
  SECURITY.md
  pyproject.toml
Due: none

misc
  Cargo.lock
  Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke/src/snapshots/tryke__tests__command.snap
  crates/tryke/src/snapshots/tryke__tests__discover_command.snap
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/Cargo.toml
  crates/tryke_types/src/lib.rs
  rust-toolchain.toml
Due: rust-linting, clippy

stuff
  Cargo.lock
  Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

stuff (#2)
  .github/dependabot.yml
  LICENSE
  SECURITY.md
  pyproject.toml
Due: none

more stuff
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix ci: use project toolchain instead of stable
  .github/workflows/ci.yml
  rust-toolchain.toml
Due: none

misc
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/lib.rs
  python/tryke/__init__.py
  python/tryke/expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

codeowners
  .github/CODEOWNERS
Due: none

lots of stuff
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/src/lib.rs
  pyproject.toml
  python/tryke/expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

things
  Cargo.lock
  Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

more watch
  Cargo.lock
  crates/tryke/src/main.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

add tryke_runner crate with worker pool and python worker
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  docs/plans/2026-03-06-worker-scheduler-design.md
  python/tryke/expect.py
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix worker spawn: set PYTHONPATH and use venv python
  .gitignore
  Cargo.lock
  crates/tryke/src/main.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

e2e
  .gitignore
Due: none

add import dependency graph for smart test running
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/import_graph.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

fix: group test output by file via file-by-file dispatch
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

fix: respect gitignore in file watcher
  Cargo.lock
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

misc
  README.md
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: add test filtering via `-k` / `--filter` and positional path args
  crates/tryke/src/main.rs
  crates/tryke_types/src/filter.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

feat: add pretty error & stacktrace reporting via miette
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: add LLM-friendly compact reporter via `--reporter llm`
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/llm.rs
Due: rust-linting, clippy

fix: address architectural review findings across workspace
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

refactor: replace miette with custom assertion diagnostic renderer
  Cargo.lock
  Cargo.toml
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

Revert "refactor: replace miette with custom assertion diagnostic renderer"
  Cargo.lock
  Cargo.toml
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

feat: wire structured assertion data from Python expect to miette renderer
  crates/tryke/tests/snapshots.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_failed_with_assertion.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_failed_with_traceback.snap
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  python/tryke/expect.py
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: use miette assertion diagnostics in LLM reporter
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/llm.rs
Due: rust-linting, clippy

fix: worker process leak in watch mode and incorrect miette line numbers
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

perf: submit all tests to worker pool in a single batch
  crates/tryke/src/main.rs
Due: rust-linting, clippy

perf: eliminate double parsing in discovery by passing pre-parsed AST body to extract_local_imports
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

perf: eager worker spawning to pre-warm Python processes before first test
  crates/tryke/src/main.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

perf: parallelize file parsing in discover_from with rayon
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
