Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

Move CLI docs check out of tests
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/RESULTS.md
  benchmarks/results/discovery_50.json
  benchmarks/results/discovery_500.json
  benchmarks/results/discovery_5000.json
  benchmarks/results/parallel_50.json
  benchmarks/results/parallel_500.json
  benchmarks/results/parallel_5000.json
  benchmarks/results/sequential_50.json
  benchmarks/results/sequential_500.json
  benchmarks/results/sequential_5000.json
  benchmarks/results/system.json
  benchmarks/run.sh
  benchmarks/summarize.py
  crates/tryke/src/bin/generate-cli-docs.rs
  crates/tryke/src/cli_docs.rs
  docs/benchmarks.md
  docs/cli.md
  docs/index.md
  tests/test_benchmark_summarize.py
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

Add Python 3.10, 3.11, 3.14 to CI matrix and version badge
  .github/workflows/ci.yml
  README.md
Due: none

Add Python 3.14 to CI matrix and update version badge
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

Fix environment-dependent test failures with version check
  Cargo.lock
  crates/tryke/src/main.rs
  crates/tryke_config/src/lib.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

migrate API reference docs to mkdocstrings
  .github/workflows/docs.yml
  docs/api.md
  pyproject.toml
  python/tryke/__init__.py
  python/tryke/expect.py
  uv.lock
  zensical.toml
Due: ruff-check, ruff-format

add git_changed_files test coverage inspired by pytest-picked
  crates/tryke/src/main.rs
Due: rust-linting, clippy

Add branch mode (--base-branch) and changed-first ordering (--changed-first)
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  docs/cli.md
Due: rust-linting, clippy

refactor: extract business logic from main.rs into library modules
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/git.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/lib.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
Due: rust-linting, clippy

feat: surface dynamic import warnings for resilient test discovery UX
  Cargo.lock
  crates/tryke/src/discovery.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/import_graph.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/Cargo.toml
  crates/tryke_types/src/lib.rs
  docs/index.md
  docs/static-analysis.md
Due: rust-linting, clippy

style: capitalize first word of inline // comments throughout codebase
  crates/tryke/src/execution.rs
  crates/tryke/tests/snapshots.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

style: capitalize first word of inline // comments throughout codebase (#24)
  crates/tryke/src/execution.rs
  crates/tryke/tests/snapshots.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

docs
  .github/workflows/docs.yml
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  crates/tryke/src/cli_docs.rs
  docs/concepts/discovery.md
  docs/guides/editor-integration.md
  docs/guides/installation.md
  docs/guides/running-tests.md
  docs/index.md
  docs/migration.md
  docs/quickstart.md
  docs/reference/api.md
  docs/reference/cli.md
  zensical.toml
Due: rust-linting, clippy

docs (#30)
  .github/workflows/docs.yml
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  crates/tryke/src/cli_docs.rs
  docs/concepts/discovery.md
  docs/guides/editor-integration.md
  docs/guides/installation.md
  docs/guides/running-tests.md
  docs/index.md
  docs/migration.md
  docs/quickstart.md
  docs/reference/api.md
  docs/reference/cli.md
  zensical.toml
Due: rust-linting, clippy

bump
  Cargo.lock
  Cargo.toml
  README.md
  crates/tryke/tests/snapshots/snapshots__snapshot_collect_grouped_tests.snap.new
  crates/tryke/tests/snapshots/snapshots__snapshot_grouped_test_output.snap.new
Due: none

bump
  Cargo.lock
  Cargo.toml
  README.md
  crates/tryke/tests/snapshots/snapshots__snapshot_collect_grouped_tests.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_grouped_test_output.snap
Due: none

snapshots
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/tests/snapshots.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_collect_grouped_tests.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_grouped_test_output.snap
Due: rust-linting, clippy

fixes
  crates/tryke/src/execution.rs
Due: rust-linting, clippy

Add doctest support: discover and run Python doctests
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_doctest.py
Due: rust-linting, clippy, ruff-check, ruff-format

Add doctest support: discover and run Python doctests (#32)
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_doctest.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.9
  Cargo.toml
Due: none

docs
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Cargo.lock
  crates/tryke/src/cli_docs.rs
  crates/tryke_dev/Cargo.toml
  crates/tryke_dev/src/bin/generate-cli-docs.rs
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/concepts/soft-assertions.md
  docs/guides/async.md
  docs/guides/changed-mode.md
  docs/guides/configuration.md
  docs/guides/doctests.md
  docs/guides/editor-integration.md
  docs/guides/filtering.md
  docs/guides/reporters.md
  docs/guides/watch-mode.md
  docs/guides/writing-tests.md
  docs/index.md
  docs/reference/cli.md
  docs/stylesheets/extra.css
  zensical.toml
Due: rust-linting, clippy

docs
  AGENTS.md
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/soft-assertions.md
  docs/guides/async.md
  docs/guides/changed-mode.md
  docs/guides/configuration.md
  docs/guides/doctests.md
  docs/guides/filtering.md
  docs/guides/reporters.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
  docs/guides/writing-tests.md
Due: none

version
  Cargo.toml
Due: none

Update README.md
  README.md
Due: none

concurrency
  Cargo.lock
  Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_server/src/handler.rs
  docs/reference/cli.md
Due: rust-linting, clippy

0.0.11
  Cargo.lock
  Cargo.toml
Due: none

docs
  docs/concepts/concurrency.md
  docs/guides/running-tests.md
Due: none

clean up expect.py code and test suite
  python/tryke/__init__.py
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_benchmark_summarize.py
  tests/test_describe.py
  tests/test_doctest.py
  tests/test_expect.py
Due: ruff-check, ruff-format

markdownlint config
  .markdownlint-cli2.yaml
Due: none

0.0.12
  Cargo.lock
  Cargo.toml
Due: none

wip demo
  .gitignore
  demo/demo.tape
  demo/pyproject.toml
  demo/tests/__init__.py
  demo/tests/test_math.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format

worker hardening
  python/tryke/worker.py
  tests/test_worker.py
Due: ruff-check, ruff-format

fix indent
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

more demo
  .gitignore
  crates/tryke_reporter/src/text.rs
  demo/demo.tape
  demo/pyproject.toml
  demo/tests/test_math.py
  demo/uv.lock
Due: rust-linting, clippy, ruff-check, ruff-format

readme
  .markdownlint-cli2.yaml
  README.md
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix doctest failure reporting corrupted by summarize() stdout leak
  python/tryke/worker.py
  tests/test_worker.py
Due: ruff-check, ruff-format

fix exit code
  crates/tryke/src/execution.rs
  crates/tryke_server/src/client.rs
Due: rust-linting, clippy

better import failures
  crates/tryke_runner/src/worker.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

surface full traceback for worker import errors
  python/tryke/worker.py
  tests/test_worker.py
Due: ruff-check, ruff-format

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
