Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: rust-linting
        name: rust linting
        entry: cargo fmt --all --
        types: [file, rust]
        language: system
      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        pass_filenames: false
        types: [python]
        language: system
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        pass_filenames: false
        types: [python]
        language: system

style(watch): stack keybindings vertically aligned with summary labels
  crates/tryke_reporter/src/summary.rs
Due: rust-linting, clippy

fix(worker): clean up workers on parent death
  Cargo.toml
  README.md
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_server/src/server.rs
  docs/guides/reporters.md
  docs/index.md
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

review: gate watch-mode clear on the reporter's actual writer
  crates/tryke_reporter/src/clear.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

review: route scheduler warnings through reporter, surface esc in footer
  crates/tryke/src/execution.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/watch-mode.md
Due: rust-linting, clippy

Add --now flag to run tests immediately on watch startup (#102)
  Cargo.lock
  README.md
  crates/tryke/Cargo.toml
  crates/tryke/src/cli.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/clear.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/reporters.md
  docs/guides/watch-mode.md
  docs/index.md
  docs/reference/cli.md
Due: rust-linting, clippy

test(worker): exercise watchdog while worker mid-RPC, harden assertions
  crates/tryke_server/src/server.rs
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.28
  Cargo.lock
  Cargo.toml
Due: none

Recycle worker process after 128 tests to bound FD accumulation
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(worker): gate watchdog to posix; clarify pool shutdown comment
  crates/tryke_runner/src/pool.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Defer worker recycle until end of unit so scope teardown runs
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

Defer worker recycle until end of unit so scope teardown runs (#106)
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

Recycle workers on memory/FD/age signals instead of test count
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Surface worker spawn / hook-replay errors in test results
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

Fix flaky drain_stderr race; address PR #107 review feedback
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(hooks): skip teardown drain when loop is closed
  python/tryke/hooks.py
Due: ruff-check, ruff-format

fix(hooks): skip teardown drain when loop is closed (#109)
  python/tryke/hooks.py
Due: ruff-check, ruff-format

docs: initial automated release including update to CHANGELOG.md
  AGENTS.md
  cliff.toml
  justfile
  pyproject.toml
Due: none

chore: add dev dependencies and empty CHANGELOG.md file
  CHANGELOG.md
  pyproject.toml
Due: none

chore: change bump-my-version settings to update Cargo.toml
  pyproject.toml
Due: none

fix(runner): wait for stderr drainer before snapshotting on worker failure
  README.md
  crates/tryke_runner/src/worker.rs
  docs/guides/reporters.md
  docs/index.md
Due: rust-linting, clippy

fix(runner): address PR #107 review feedback
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): de-flake worker_recycles_when_age_exceeds_limit on CI
  README.md
  crates/tryke_runner/src/pool.rs
  docs/guides/reporters.md
  docs/index.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Recycle workers on memory/FD/age signals instead of test count (#108)
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Disable worker recycling by default; raise RLIMIT_NOFILE on startup
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/fdlimit.rs
  crates/tryke/src/lib.rs
  crates/tryke/src/main.rs
  crates/tryke_runner/src/worker.rs
  docs/guides/configuration.md
Due: rust-linting, clippy

fix(tryke): keep core deps unconditional; address fdlimit doc nit
  crates/tryke/Cargo.toml
  crates/tryke/src/fdlimit.rs
Due: rust-linting, clippy

chore: bootstrap bump-my-version with current_version and fix justfile release steps
  justfile
  pyproject.toml
Due: none

fix(runner): address PR #107 review feedback (#111)
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

Surface worker spawn / hook-replay errors in test results (#107)
  README.md
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  docs/guides/reporters.md
  docs/index.md
Due: rust-linting, clippy

refactor
  .vscode/settings.json
  README.md
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  docs/guides/reporters.md
  docs/index.md
  rustfmt.toml
Due: rust-linting, clippy

fix(reporter): honor --collect-only in next, sugar, dot, junit reporters
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

fix(reporter): mark junit collect-only testcases as skipped
  crates/tryke_reporter/src/junit.rs
Due: rust-linting, clippy

fix(reporter): honor --collect-only in next, sugar, dot, junit (#115)
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

Extract format_duration into a shared reporter helper
  crates/tryke_reporter/src/duration.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

Format durations over a minute as M:SS.SS in reporter summaries
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/summary.rs
Due: rust-linting, clippy

Round centiseconds when formatting durations over a minute
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/summary.rs
Due: rust-linting, clippy

Format durations over a minute as M:SS.SS in reporter summaries (#116)
  crates/tryke_reporter/src/duration.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
Due: rust-linting, clippy

Refactor pytest-to-tryke migration prompt into a skill
  .claude/skills/pytest-to-tryke-migration/SKILL.md
  docs/migration.md
  docs/skills/pytest-to-tryke-migration.md
  zensical.toml
Due: none
