Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

docs: note that describe blocks can be nested
  docs/guides/writing-tests.md
Due: none

docs
  README.md
  docs/index.md
Due: none

Update writing-tests.md
  docs/guides/writing-tests.md
Due: none

watch: add --all flag to rerun the full test set on every change
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  docs/reference/cli.md
Due: rust-linting, clippy

feat(discovery): track PEP 810 lazy imports in dependency graph
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

docs(watch): document --all flag for rerunning the full test set
  docs/guides/watch-mode.md
Due: none

watch: add --all flag to rerun the full test set on every change (#59)
  crates/tryke/src/cli.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  docs/guides/watch-mode.md
  docs/reference/cli.md
Due: rust-linting, clippy

feat(discovery): track PEP 810 lazy imports in dependency graph (#60)
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/src/lib.rs
  docs/concepts/discovery.md
Due: rust-linting, clippy

feat(discovery): resolve absolute imports across multiple src roots
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  pyproject.toml
Due: rust-linting, clippy

docs: document `[tool.tryke] src` config option
  docs/guides/configuration.md
Due: none

feat(discovery): resolve absolute imports across multiple src roots (#61)
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  docs/guides/configuration.md
  pyproject.toml
Due: rust-linting, clippy

test labels
  Cargo.lock
  Cargo.toml
  pyproject.toml
  tests/test_cases.py
  tests/test_expect.py
  tests/test_hooks.py
  tests/test_in_source_guard.py
  tests/test_worker.py
  tests/typed/test_cases_typing.py
  tests/typed/test_expect_typing.py
Due: ruff-check, ruff-format

test labels (#62)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  tests/test_cases.py
  tests/test_expect.py
  tests/test_hooks.py
  tests/test_in_source_guard.py
  tests/test_worker.py
  tests/typed/test_cases_typing.py
  tests/typed/test_expect_typing.py
Due: ruff-check, ruff-format

0.0.23
  Cargo.lock
  Cargo.toml
Due: none

docs: refresh stale tryke test banner version to 0.0.23
  README.md
  docs/index.md
Due: none

feat(hooks): accept Annotated[T, Depends(...)] alongside default-form
  crates/tryke_discovery/src/lib.rs
  docs/guides/writing-tests.md
  python/tryke/hooks.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs: refresh stale tryke test banner version to 0.0.23 (#65)
  README.md
  docs/index.md
Due: none

migration prompt
  docs/migration.md
Due: none

style(runner): fix rustfmt formatting in spawn_stderr_drainer
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): continuously drain worker stderr to prevent RPC hang
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): switch stderr ring buffer from Vec to VecDeque for O(data.len()) appends
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

perf(runner): switch stderr buffer from Vec to VecDeque for O(1) front-drain
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): address PR #66 review feedback
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): kill orphaned child on drainer error; fix racy test assertion
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(runner): drain worker stderr to prevent RPC hang on chatty suites (#66)
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

fix(discovery): address PR #64 review feedback
  crates/tryke/src/discovery.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

fix(discovery): iterate sorted paths for deterministic test order in rediscover_restricted
  crates/tryke_discovery/src/discoverer.rs
Due: rust-linting, clippy

feat(discovery): restrict walk + skip import graph when paths are passed
  crates/tryke/src/discovery.rs
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

Update crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/discoverer.rs
Due: rust-linting, clippy

feat(discovery): restrict walk + skip import graph when paths are passed (#64)
  crates/tryke/src/discovery.rs
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

feat(runner): hot-reload by restarting worker subprocess
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/server.rs
  docs/concepts/client-server.md
  docs/concepts/discovery.md
  docs/guides/watch-mode.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix(runner): fan out Ping/Restart on per-worker channels
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

docs: prefer Annotated[T, Depends(...)] in README and guides
  README.md
  docs/concepts/cases.md
  docs/concepts/concurrency.md
  docs/guides/writing-tests.md
  docs/index.md
  docs/migration.md
Due: none

docs(migration): note Tryke's display-name labels for tests and expectations
  docs/migration.md
Due: none

docs(migration): instruct the LLM prompt to set test/expect display names
  docs/migration.md
Due: none

refactor(runner): tighten worker pool internals
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

fix(watch): coalesce queued watcher batches before restart
  crates/tryke/src/watch.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

chore(test): switch to cargo-nextest, fix slow tests
  .config/nextest.toml
  .github/workflows/ci.yml
  AGENTS.md
  CONTRIBUTING.md
  crates/tryke/src/execution.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

chore(test): switch to cargo-nextest, fix slow tests (#69)
  .config/nextest.toml
  .github/workflows/ci.yml
  AGENTS.md
  CONTRIBUTING.md
  crates/tryke/src/execution.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

feat(hooks): accept Annotated[T, Depends(...)] alongside default-form (#67)
  README.md
  crates/tryke_discovery/src/lib.rs
  docs/concepts/cases.md
  docs/concepts/concurrency.md
  docs/guides/writing-tests.md
  docs/index.md
  docs/migration.md
  python/tryke/hooks.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
