Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: rust-linting
        name: rust linting
        entry: cargo fmt --all --
        types: [file, rust]
        language: system
      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        pass_filenames: false
        types: [python]
        language: system
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        pass_filenames: false
        types: [python]
        language: system

feat(cases): typed test.case(...) specs with PEP 612 ParamSpec
  crates/tryke_discovery/src/lib.rs
  docs/concepts/cases.md
  docs/migration.md
  python/tryke/expect.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_cases.py
  tests/typed/__init__.py
  tests/typed/test_cases_typing.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: @test.cases parametrize primitive (#46)
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/cases.md
  docs/concepts/soft-assertions.md
  docs/guides/writing-tests.md
  docs/migration.md
  docs/reference/api.md
  python/tryke/__init__.py
  python/tryke/expect.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_cases.py
  tests/typed/__init__.py
  tests/typed/test_cases_typing.py
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.16
  Cargo.lock
  Cargo.toml
Due: none

docs: lead @test.cases examples with typed test.case(...) form
  docs/concepts/cases.md
  docs/guides/installation.md
  docs/guides/writing-tests.md
Due: none

startup
  .claude/settings.json
Due: none

feat: per-case skip/xfail/todo modifiers for @test.cases
  crates/tryke_discovery/src/lib.rs
  docs/concepts/cases.md
  docs/reference/api.md
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_cases.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs: remove legacy kwargs/list form references from @test.cases docs
  docs/concepts/cases.md
  docs/guides/writing-tests.md
  docs/migration.md
  python/tryke/expect.py
Due: ruff-check, ruff-format

docs: fold in-source testing into writing-tests guide
  docs/concepts/discovery.md
  docs/guides/editor-integration.md
  docs/guides/in-source-testing.md
  docs/guides/writing-tests.md
  docs/index.md
  zensical.toml
Due: none

feat: tryke_guard.__TRYKE_TESTING__ for in-source testing
  crates/tryke/src/discovery.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/discovery.md
  docs/guides/editor-integration.md
  docs/guides/in-source-testing.md
  docs/index.md
  pyproject.toml
  python/tryke/worker.py
  python/tryke_guard.py
  tests/test_in_source_guard.py
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

feat: in-source testing via tryke_guard.__TRYKE_TESTING__ (#47)
  crates/tryke/src/discovery.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/discovery.md
  docs/guides/editor-integration.md
  docs/guides/writing-tests.md
  docs/index.md
  pyproject.toml
  python/tryke/worker.py
  python/tryke_guard.py
  tests/test_in_source_guard.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.17
  Cargo.lock
  Cargo.toml
Due: none

fix: ship python/tryke_guard.py in the built wheel
  pyproject.toml
Due: none

fix: ship python/tryke_guard.py in the built wheel (#48)
  pyproject.toml
Due: none

docs: capitalize Tryke and add README badges to landing page
  docs/benchmarks.md
  docs/concepts/cases.md
  docs/concepts/client-server.md
  docs/concepts/concurrency.md
  docs/concepts/discovery.md
  docs/concepts/soft-assertions.md
  docs/guides/async.md
  docs/guides/changed-mode.md
  docs/guides/configuration.md
  docs/guides/doctests.md
  docs/guides/editor-integration.md
  docs/guides/filtering.md
  docs/guides/graph.md
  docs/guides/installation.md
  docs/guides/reporters.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
  docs/guides/writing-tests.md
  docs/index.md
  docs/migration.md
  docs/why.md
  zensical.toml
Due: none

feat: recognise tryke import aliases in test discovery
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

docs: add lucide icons to landing page tabs and highlights
  .markdownlint-cli2.yaml
  docs/assets/icons/book-open.svg
  docs/assets/icons/circle-check.svg
  docs/assets/icons/eye.svg
  docs/assets/icons/file-code.svg
  docs/assets/icons/file-output.svg
  docs/assets/icons/filter.svg
  docs/assets/icons/git-branch.svg
  docs/assets/icons/house.svg
  docs/assets/icons/layers.svg
  docs/assets/icons/lightbulb.svg
  docs/assets/icons/search.svg
  docs/assets/icons/server.svg
  docs/assets/icons/sparkles.svg
  docs/assets/icons/zap.svg
  docs/index.md
  docs/stylesheets/extra.css
Due: none

fix watch exit
  crates/tryke/src/watch.rs
Due: rust-linting, clippy

0.0.18
  Cargo.lock
  Cargo.toml
Due: none

docs: migrate to tryke.dev custom domain
  README.md
  docs/CNAME
  docs/index.md
  pyproject.toml
  zensical.toml
Due: none

docs: clean up stale @test.cases references
  docs/concepts/cases.md
  docs/guides/writing-tests.md
Due: none

docs: fix 404s in landing page highlight links
  docs/index.md
Due: none

Update README.md
  README.md
Due: none

Update index.md
  docs/index.md
Due: none

docs: remove underlines beneath badge images
  README.md
  docs/stylesheets/extra.css
Due: none

docs: add pip installation instructions
  docs/guides/installation.md
Due: none

docs: use canonical user-attachments URL for demo video
  .markdownlint-cli2.yaml
  docs/index.md
Due: none

docs: use canonical user-attachments URL for README video
  README.md
Due: none

tweaks
  docs/concepts/cases.md
  docs/concepts/discovery.md
  docs/index.md
Due: none

Update editor-integration.md
  docs/guides/editor-integration.md
Due: none

title
  zensical.toml
Due: none

docs: override homepage tab title
  overrides/main.html
  zensical.toml
Due: none

docs: note pytest-check as prior art for soft assertions
  docs/index.md
Due: none

fix exception handling
  crates/tryke/tests/snapshots.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs: add copy-paste pytest migration prompt
  docs/guides/installation.md
  docs/index.md
  docs/migration.md
  docs/why.md
  zensical.toml
Due: none

docs(migration): clarify @test / @test.cases exclusivity and Phase 4 name mapping
  docs/migration.md
Due: none

Add comprehensive pytest-to-Tryke migration guide (#49)
  docs/guides/installation.md
  docs/index.md
  docs/migration.md
  docs/why.md
  zensical.toml
Due: none

Add to_be_instance_of matcher
  python/tryke/expect.py
  tests/test_expect.py
Due: ruff-check, ruff-format

fix: share event loop across async fixtures + tests; accept patch versions
  crates/tryke_runner/src/lib.rs
  python/tryke/hooks.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format
