Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

Scope migration skill to one file at a time
  .claude/skills/pytest-to-tryke-migration/SKILL.md
  docs/migration.md
  docs/skills/pytest-to-tryke-migration.md
Due: none

fix(server): close stale-worker race via in-band did_change RPC
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

fix(server): JSON-escape paths in did_change test requests
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

fix(server): address review feedback on did_change
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

hooks
  .codex/hooks.json
  .codex/hooks/session-start.sh
Due: none

refactor(server): move did_change root filter into Discoverer
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

misc
  .github/pull_request_template.md
  AGENTS.md
  README.md
  docs/guides/reporters.md
  docs/index.md
Due: none

fix(server): drop non-.py paths in apply_change to avoid spurious dirty
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
Due: rust-linting, clippy

Potential fix for pull request finding
  .codex/hooks/session-start.sh
Due: none

chore(codex): fix hook location comments + repo-relative path
  .codex/hooks.json
  .codex/hooks/session-start.sh
Due: none

fix(server): drop excluded paths in apply_change for did_change parity
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/watcher.rs
Due: rust-linting, clippy

fix(server): close stale-worker race via in-band did_change RPC (#118)
  .codex/hooks.json
  .codex/hooks/session-start.sh
  .github/pull_request_template.md
  AGENTS.md
  README.md
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/change.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/lib.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  docs/guides/reporters.md
  docs/index.md
Due: rust-linting, clippy

Move docs overrides under docs
  docs/overrides/main.html
  zensical.toml
Due: none

Address review feedback
  README.md
  crates/tryke/src/main.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_failed_with_traceback.snap
  crates/tryke_reporter/src/text.rs
  docs/guides/installation.md
  docs/guides/running-tests.md
  docs/guides/watch-mode.md
  docs/index.md
Due: rust-linting, clippy

Address follow-up review feedback
  README.md
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/installation.md
  docs/guides/running-tests.md
  docs/index.md
Due: rust-linting, clippy

Update README.md
  README.md
Due: none

docs: add highlights to README, align index.md getting-started with README
  README.md
  docs/index.md
Due: none

docs: linkify MIT License ref and bump zensical copyright to 2026
  README.md
  docs/index.md
  zensical.toml
Due: none

docs: add highlights to README, align index.md getting-started with README (#121)
  README.md
  docs/index.md
  zensical.toml
Due: none

Highlight received assertion values
  README.md
  crates/tryke_reporter/src/diagnostic.rs
  docs/guides/reporters.md
  docs/index.md
Due: rust-linting, clippy

Document PR title convention
  AGENTS.md
Due: none

Highlight received assertion values (#123)
  AGENTS.md
  crates/tryke_reporter/src/diagnostic.rs
Due: rust-linting, clippy

Add watch shortcut to clear results
  crates/tryke/src/cli.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/watch-mode.md
  docs/reference/cli.md
Due: rust-linting, clippy

Add watch shortcut to clear results (#125)
  crates/tryke/src/cli.rs
  crates/tryke/src/watch.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/next.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  docs/guides/watch-mode.md
  docs/reference/cli.md
Due: rust-linting, clippy

fix multiline CLI diagnostics
  AGENTS.md
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix multiline CLI diagnostics (#124)
  AGENTS.md
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.29
  Cargo.lock
  Cargo.toml
Due: none

Add interactive playground with WASM discovery and Pyodide test execution
  .claude/launch.json
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/tryke/Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/clear.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_server/Cargo.toml
  crates/tryke_types/src/lib.rs
  crates/tryke_wasm/Cargo.toml
  crates/tryke_wasm/src/lib.rs
  playground/bun.lock
  playground/index.html
  playground/package.json
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/GraphView.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/SourceEditor.tsx
  playground/src/Editor/TerminalOutput.tsx
  playground/src/Editor/constants.ts
  playground/src/Editor/index.tsx
  playground/src/Editor/types.ts
  playground/src/main.tsx
  playground/src/styles/global.css
  playground/src/vite-env.d.ts
  playground/src/workers/pyodide.worker.ts
  playground/tsconfig.json
  playground/vite.config.ts
Due: rust-linting, clippy

Add playground polish: examples, shortcuts, multi-file support, fixtures
  crates/tryke_wasm/src/lib.rs
  playground/index.html
  playground/public/logo.png
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
Due: rust-linting, clippy

Add ESLint, Prettier, and pre-commit hooks for playground
  .pre-commit-config.yaml
  playground/.prettierignore
  playground/.prettierrc
  playground/bun.lock
  playground/eslint.config.js
  playground/package.json
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/GraphView.tsx
  playground/src/main.tsx
  playground/src/workers/pyodide.worker.ts
Due: none

Improve playground UX: tree view, fixture graph, auto-run, labels
  playground/.gitignore
  playground/index.html
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/FixtureGraphView.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/TerminalOutput.tsx
  playground/src/Editor/constants.ts
  playground/src/Editor/types.ts
Due: none

Add stacked panel view to show all tabs at once
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/types.ts
Due: none

Add tooltips to playground UI elements
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/DiscoveryPanel.tsx
Due: none

Default to stacked view with responsive layout and tab tooltips
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
Due: none

Stop switching tabs on run, fix test.cases examples, add Kitchen Sink
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
Due: none

Playground polish: theme, layout, Annotated form, rename hooks
  playground/src/Editor/DiscoveryPanel.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondarySideBar.tsx
  playground/src/Editor/SourceEditor.tsx
  playground/src/Editor/constants.ts
  playground/src/workers/pyodide.worker.ts
Due: none

Default to Kitchen Sink example, remove comments
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/constants.ts
Due: none

Add playground link to README and docs getting started
  README.md
  docs/index.md
Due: none

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
