Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

iterating
  Cargo.lock
  crates/tryke/src/commands/test.rs
  crates/tryke/src/logging.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

Offload discovery from runtime threads and acknowledge real worker readiness
  crates/tryke/src/commands/test.rs
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_runner/src/worker_process.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

chore(deps): consolidate dependency bumps
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/playground.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/src/source.rs
  crates/tryke_reporter/src/duration.rs
  crates/tryke_reporter/src/live/terminal.rs
  crates/tryke_reporter/src/sugar.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_runner/src/schedule.rs
  pyproject.toml
  python/tryke/runner.py
  rust-toolchain.toml
  uv.lock
Due: rust-linting, clippy, ruff-check, ruff-format

config: support tryke.toml and --config-file (#165)
  CHANGELOG.md
  Cargo.lock
  crates/tryke/src/cli.rs
  crates/tryke/src/commands/clean.rs
  crates/tryke/src/commands/graph.rs
  crates/tryke/src/commands/server.rs
  crates/tryke/src/commands/test.rs
  crates/tryke_config/Cargo.toml
  crates/tryke_config/src/lib.rs
  docs/reference/cli.md
Due: rust-linting, clippy

Fix cancellation during server input and initial discovery
  CHANGELOG.md
  crates/tryke/src/commands/test.rs
  crates/tryke/src/main.rs
  crates/tryke/tests/server_stdio.rs
Due: rust-linting, clippy

Restore configuration logging dependency after main merge
  Cargo.lock
  crates/tryke_config/Cargo.toml
Due: none

Address review feedback on worker and server shutdown
  CHANGELOG.md
  crates/tryke/src/commands/test.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

Hold the watcher's strong sender only while notifying
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
