Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

refactor: demote verbose debug! statements to trace!
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/import_graph.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

feat: soft assertions — run all assertions by default, stop only on .fatal()
  crates/tryke_discovery/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix: pass -k filter and paths through client-server mode
  crates/tryke/src/main.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
Due: rust-linting, clippy

feat: skip/todo/xfail modifiers, to_raise matcher, tags + -m filter, -x/--maxfail
  crates/tryke/src/main.rs
  crates/tryke/tests/snapshots.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_types/src/filter.rs
  crates/tryke_types/src/lib.rs
  python/tryke/expect.py
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

fix: resolve tryke.expect module vs function name collision in worker
  python/tryke/worker.py
Due: ruff-check, ruff-format

feat: move self-tests to tests/test_expect.py, add end-to-end integration test
  crates/tryke/src/main.rs
  crates/tryke_runner/src/pool.rs
  pyproject.toml
  python/tryke/expect.py
  tests/__init__.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: async test support, dynamic import detection, smarter worker pool sizing
  crates/tryke/src/main.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/import_graph.rs
  crates/tryke_discovery/src/lib.rs
  python/tryke/worker.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: add python syntax highlighting to miette diagnostics
  Cargo.lock
  Cargo.toml
  crates/tryke_reporter/src/diagnostic.rs
Due: rust-linting, clippy

feat: worker root cwd, name kwarg on markers, test names
  CONTRIBUTING.md
  crates/tryke/src/main.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  python/tryke/expect.py
  tests/test_expect.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs: expand README with expect API, markers, and CLI usage
  README.md
Due: none

chore: remove docs/plans committed by mistake
  docs/plans/2026-03-06-worker-scheduler-design.md
Due: none

release: v0.0.5
  Cargo.lock
  Cargo.toml
  README.md
  crates/tryke/Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_reporter/Cargo.toml
  crates/tryke_runner/Cargo.toml
  crates/tryke_server/Cargo.toml
  crates/tryke_types/Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix: windows-compatible pythonpath (strip \\?\ UNC prefix)
  Cargo.lock
  crates/tryke_runner/Cargo.toml
  crates/tryke_runner/src/worker.rs
Due: rust-linting, clippy

docs: update readme tagline
  README.md
Due: none

python versions
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

release: v0.0.6
  Cargo.toml
Due: none

readme
  Cargo.lock
  README.md
Due: none

tweak
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#9)
  README.md
Due: none

badges
  README.md
Due: none

fix
  README.md
Due: none

Update README.md (#10)
  README.md
Due: none

Add CI gate job for branch protection
  .github/workflows/ci.yml
Due: none

progress bar
  Cargo.lock
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_server/src/handler.rs
Due: rust-linting, clippy

ux
  Cargo.lock
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/lib.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
Due: rust-linting, clippy

release: v0.0.7
  Cargo.lock
  Cargo.toml
Due: none

sort
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

fix speed stuff
  Cargo.lock
  crates/tryke_server/Cargo.toml
  crates/tryke_server/src/handler.rs
Due: rust-linting, clippy

stuff
  .github/workflows/docs.yml
  README.md
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/generate.py
  benchmarks/run.sh
  benchmarks/suites/conftest.py
  benchmarks/suites/suite_50/test_sync.py
  benchmarks/suites/suite_500/test_sync.py
  benchmarks/suites/suite_5000/test_sync.py
  benchmarks/summarize.py
  crates/tryke/tests/snapshots.rs
  crates/tryke/tests/snapshots/snapshots__snapshot_collect_grouped_tests.snap
  crates/tryke/tests/snapshots/snapshots__snapshot_grouped_test_output.snap
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/diagnostic.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/filter.rs
  crates/tryke_types/src/lib.rs
  docs/api.md
  docs/benchmarks.md
  docs/index.md
  docs/migration.md
  docs/quickstart.md
  docs/why.md
  pyproject.toml
  python/tryke/__init__.py
  tests/test_describe.py
  uv.lock
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

Improve changed test selection and exclude config
  Cargo.lock
  crates/tryke/src/main.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/dot.rs
  crates/tryke_reporter/src/json.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/server.rs
  crates/tryke_server/src/watcher.rs
  crates/tryke_types/src/lib.rs
  docs/api.md
  docs/quickstart.md
  docs/why.md
Due: rust-linting, clippy

Refactor config handling and clean up CLI tests
  AGENTS.md
  CODEX.md
  Cargo.lock
  Cargo.toml
  README.md
  benchmarks/run.sh
  benchmarks/suites/suite_50/test_sync.py
  benchmarks/suites/suite_500/test_sync.py
  benchmarks/suites/suite_5000/test_sync.py
  crates/tryke/Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_config/Cargo.toml
  crates/tryke_config/src/lib.rs
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/lib.rs
  docs/api.md
  docs/quickstart.md
  pyproject.toml
Due: rust-linting, clippy, ruff-check, ruff-format

Fix CI matrix behavior and discovery excludes
  .github/workflows/ci.yml
  .github/workflows/release.yml
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

things
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  crates/tryke/Cargo.toml
  crates/tryke/src/bin/generate-cli-docs.rs
  crates/tryke/src/cli.rs
  crates/tryke/src/cli_docs.rs
  crates/tryke/src/lib.rs
  crates/tryke/src/main.rs
  docs/cli.md
  docs/index.md
  zensical.toml
Due: rust-linting, clippy

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
