Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

rust-linting:
  name: rust linting
  entry: cargo fmt --all --
  language: system

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  pass_filenames: false
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  pass_filenames: false
  language: system

better errors
  crates/tryke_runner/src/worker.rs
  python/tryke/worker.py
  tests/test_worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.13
  Cargo.toml
Due: none

Add lexically-scoped hooks with Depends() (issue #36, proposal 5)
  Cargo.lock
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
  python/tryke/__init__.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_hooks.py
  tests/test_hooks_e2e.py
Due: rust-linting, clippy, ruff-check, ruff-format

Add scheduling constraints and error handling for hooks
  crates/tryke_runner/src/schedule.rs
  python/tryke/hooks.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format

Fix CI: add python-source dir to PYTHONPATH
  crates/tryke_runner/src/pool.rs
Due: rust-linting, clippy

Add before_all reuse and composability e2e tests
  tests/test_hooks_e2e.py
Due: ruff-check, ruff-format

Document hooks, Depends(), and concurrency behavior
  docs/concepts/concurrency.md
  docs/guides/writing-tests.md
  docs/migration.md
  docs/reference/api.md
Due: none

Fix PR review issues: generator safety, after_all/wrap_all, module-scoped hooks
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_hooks.py
  tests/test_hooks_e2e.py
Due: rust-linting, clippy, ruff-check, ruff-format

Update README.md
  README.md
Due: none

fix: include hook fn in _all_initialized key so multiple _all hooks per scope all run
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

fix: upgrade --dist group to file level when file-scope _all hooks exist
  crates/tryke_runner/src/schedule.rs
  docs/concepts/concurrency.md
Due: rust-linting, clippy

fix: run wrap_each teardown before after_each hooks
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

fix: finalize() only runs after_all for scopes that were actually entered
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

typing
  AGENTS.md
  pyproject.toml
  python/tryke/expect.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_expect.py
  tests/test_hooks.py
  tests/test_hooks_e2e.py
  tests/test_worker.py
  uv.lock
Due: ruff-check, ruff-format

feat: TDD async hook support
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

Update dependabot.yml
  .github/dependabot.yml
Due: none

feat: collapse hook decorators into a single @fixture
  AGENTS.md
  crates/tryke/src/execution.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/concurrency.md
  docs/guides/writing-tests.md
  pyproject.toml
  python/tryke/__init__.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format

feat: TDD async hook support (#40)
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

feat: @fixture + Depends() for setup, teardown, and DI (#39)
  AGENTS.md
  Cargo.lock
  crates/tryke/src/discovery.rs
  crates/tryke/src/execution.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_runner/src/lib.rs
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/concurrency.md
  docs/guides/writing-tests.md
  docs/migration.md
  docs/reference/api.md
  pyproject.toml
  python/tryke/__init__.py
  python/tryke/expect.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_expect.py
  tests/test_hooks.py
  tests/test_worker.py
  uv.lock
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.14
  Cargo.lock
  Cargo.toml
Due: none

fix(docs): point reference at @fixture and guard CI against empty builds
  .github/workflows/docs.yml
  docs/migration.md
  docs/reference/api.md
Due: none

feat(docs): use README logo as the docs site logo and favicon
  docs/assets/logo.png
  zensical.toml
Due: none

fix: audit findings and api docs docstring rendering
  README.md
  crates/tryke/src/discovery.rs
  crates/tryke/src/main.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/progress.rs
  crates/tryke_reporter/src/reporter.rs
  crates/tryke_reporter/src/summary.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/schedule.rs
  crates/tryke_types/src/filter.rs
  docs/guides/doctests.md
  docs/guides/graph.md
  docs/guides/installation.md
  docs/guides/writing-tests.md
  docs/index.md
  docs/migration.md
  python/tryke/expect.py
  tests/test_expect.py
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

fix: add blank lines before closing fences in doctest docstrings
  python/tryke/expect.py
Due: ruff-check, ruff-format

feat: fixture graph command and hook/reload observability
  crates/tryke/src/cli.rs
  crates/tryke/src/graph.rs
  crates/tryke/src/main.rs
  crates/tryke/src/watch.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_server/src/server.rs
  docs/guides/graph.md
  docs/reference/cli.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

0.0.15
  Cargo.lock
  Cargo.toml
Due: none

feat: @test.cases parametrize primitive
  crates/tryke_discovery/src/lib.rs
  crates/tryke_reporter/src/junit.rs
  crates/tryke_reporter/src/llm.rs
  crates/tryke_reporter/src/text.rs
  crates/tryke_runner/src/protocol.rs
  crates/tryke_runner/src/worker.rs
  crates/tryke_types/src/lib.rs
  docs/concepts/cases.md
  docs/concepts/soft-assertions.md
  docs/guides/writing-tests.md
  docs/migration.md
  docs/reference/api.md
  python/tryke/__init__.py
  python/tryke/expect.py
  python/tryke/hooks.py
  python/tryke/worker.py
  tests/test_cases.py
  zensical.toml
Due: rust-linting, clippy, ruff-check, ruff-format

Path conditions:
  rust-linting: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
