Repository thejchap/tryke: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, clippy, ruff-check, ruff-format

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: rust-linting
        name: rust linting
        entry: cargo fmt --all --
        types: [file, rust]
        language: system
      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        pass_filenames: false
        types: [python]
        language: system
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        pass_filenames: false
        types: [python]
        language: system

Make to_be_instance_of generic on the single-class form
  python/tryke/expect.py
  tests/test_expect.py
  tests/typed/test_expect_typing.py
Due: ruff-check, ruff-format

Add to_be_instance_of matcher for type checking (#50)
  python/tryke/expect.py
  tests/test_expect.py
  tests/typed/test_expect_typing.py
Due: ruff-check, ruff-format

Apply suggestions from code review
  python/tryke/hooks.py
  tests/test_hooks.py
Due: ruff-check, ruff-format

fix: share event loop across async fixtures + tests; accept patch versions (#51)
  crates/tryke_runner/src/lib.rs
  python/tryke/hooks.py
  tests/test_hooks.py
Due: rust-linting, clippy, ruff-check, ruff-format

ci: allow pre-release Python so the 3.15 matrix entry resolves
  .github/workflows/ci.yml
Due: none

docs: reorder homepage highlights and use the plain logo as the social icon
  docs/assets/generate_social.py
  docs/assets/social.png
  docs/index.md
  overrides/main.html
  pyproject.toml
  zensical.toml
Due: ruff-check, ruff-format

docs/ci: podcast feedback pass — LLM migration callout, feature gaps, social cards, py3.15, AI policy
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  README.md
  docs/assets/generate_social.py
  docs/assets/icons/folder-tree.svg
  docs/assets/icons/syringe.svg
  docs/assets/icons/table.svg
  docs/assets/icons/tag.svg
  docs/assets/social.png
  docs/index.md
  docs/migration.md
  docs/stylesheets/extra.css
  docs/why.md
  overrides/main.html
  pyproject.toml
  zensical.toml
Due: ruff-check, ruff-format

Add fixtures, parametrization, Python 3.15 support, and docs (#52)
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  README.md
  docs/assets/icons/folder-tree.svg
  docs/assets/icons/syringe.svg
  docs/assets/icons/table.svg
  docs/assets/icons/tag.svg
  docs/index.md
  docs/migration.md
  docs/stylesheets/extra.css
  docs/why.md
  overrides/main.html
  pyproject.toml
  zensical.toml
Due: none

docs: sync index 'Getting started' code sample with the README
  docs/index.md
Due: none

docs: enable admonition markdown extension
  zensical.toml
Due: none

docs: fix 404s on tryke.dev links by using .html URLs
  README.md
  docs/migration.md
Due: none

docs: correct dot-reporter glyphs and add to_be_instance_of matcher
  docs/guides/reporters.md
  docs/guides/writing-tests.md
  docs/migration.md
  python/tryke/hooks.py
Due: ruff-check, ruff-format

server: tag runs with run_id and serialize concurrent runs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

server: make run_id a required param on run RPC
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

docs: correct dot-reporter glyphs and add to_be_instance_of matcher (#53)
  docs/guides/reporters.md
  docs/guides/writing-tests.md
  docs/migration.md
  python/tryke/hooks.py
Due: ruff-check, ruff-format

client: surface RPC errors and drain late notifications
  crates/tryke_server/src/client.rs
Due: rust-linting, clippy

docs: add session continuity and commit cadence to LLM migration prompt
  docs/migration.md
Due: none

docs: add session continuity and commit cadence to LLM migration prompt (#55)
  docs/migration.md
Due: none

docs: drop stale _all/before_all/wrap_all hook terminology
  crates/tryke_runner/src/schedule.rs
  crates/tryke_runner/src/worker.rs
  docs/migration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

docs: drop stale _all/before_all/wrap_all hook terminology (#56)
  crates/tryke_runner/src/schedule.rs
  crates/tryke_runner/src/worker.rs
  docs/migration.md
  python/tryke/worker.py
Due: rust-linting, clippy, ruff-check, ruff-format

client: add monotonic counter to generate_run_id for macOS
  crates/tryke_server/src/client.rs
Due: rust-linting, clippy

discovery: parallel + single-parse + candidate-resolve + disk cache
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

discovery: parallel + single-parse + candidate-resolve + disk cache (#57)
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
Due: rust-linting, clippy

server: tag runs with run_id and serialize concurrent runs (#54)
  Cargo.lock
  Cargo.toml
  crates/tryke_discovery/Cargo.toml
  crates/tryke_discovery/src/cache.rs
  crates/tryke_discovery/src/db.rs
  crates/tryke_discovery/src/discoverer.rs
  crates/tryke_discovery/src/lib.rs
  crates/tryke_server/src/client.rs
  crates/tryke_server/src/handler.rs
  crates/tryke_server/src/protocol.rs
  crates/tryke_server/src/server.rs
Due: rust-linting, clippy

0.0.19
  Cargo.lock
  Cargo.toml
Due: none

discovery: fix cache roundtrip by using named (map) msgpack encoding
  crates/tryke_discovery/src/cache.rs
Due: rust-linting, clippy

0.0.20
  Cargo.lock
  Cargo.toml
Due: none

reporter: clear OSC 9;4 progress on Ctrl+C
  Cargo.lock
  Cargo.toml
  crates/tryke/src/main.rs
  crates/tryke_reporter/Cargo.toml
  crates/tryke_reporter/src/progress.rs
Due: rust-linting, clippy

0.0.21
  Cargo.lock
  Cargo.toml
Due: none

ci: add issue templates, label taxonomy, and label sync workflow
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labels.yml
  .github/workflows/labels.yml
Due: none

runner: replay hooks on respawn, stop unsafe test retries
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
Due: rust-linting, clippy

runner: replay hooks on respawn, stop unsafe test retries (#58)
  crates/tryke_runner/src/pool.rs
  crates/tryke_runner/src/protocol.rs
Due: rust-linting, clippy
